<div class="wdw">
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <app-chat-bubble></app-chat-bubble>
  <!-- <app-chat-bubble></app-chat-bubble> -->

</div>
