
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simple-chat-client-primary: mat.define-palette(mat.$indigo-palette, 600, 50, 800);
$simple-chat-client-accent: mat.define-palette(mat.$lime-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$simple-chat-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$simple-chat-client-theme: mat.define-light-theme((
  color: (
    primary: $simple-chat-client-primary,
    accent: $simple-chat-client-accent,
    warn: $simple-chat-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($simple-chat-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



// grabbing colors
:root {
  --color-primary: #{map-get($simple-chat-client-primary, default)};
  --color-primary-lgt: #{map-get($simple-chat-client-primary, lighter)};
  --color-primary-drk: #{map-get($simple-chat-client-primary, darker)};
  --color-accent: #{map-get($simple-chat-client-accent, default)};
  --color-accent-lgt: #{map-get($simple-chat-client-accent, lighter)};
  --color-accent-drk: #{map-get($simple-chat-client-accent, darker)};
  // --color-warn: #{map-get($simple-chat-client-warn)};
  // --color-success: #{map-get($simple-chat-client-success)};
}

.prim-color{
  background-color: var(--color-primary);
}
.prim-color-lgt{
  background-color: var(--color-primary-lgt);
}
.prim-color-drk{
  background-color: var(--color-primary-drk);
}

.acc-color{
  background-color: var(--color-accent);
}
.acc-color-lgt{
  background-color: var(--color-accent-lgt);
}
.acc-color-drk{
  background-color: var(--color-accent-drk);
}
